@media (min-width: 1921px) {

}

@media (max-width: 1920px) {

}

@media (max-width: 1440px){

}

@media (max-width: 1280px){

}

@media (max-width: 1023px){

}

@media (max-width: 768px){

}

@media (max-width: 480px){
    .menu{
        padding: 10px;
        border-radius: 10px;
        width: 100vw;
    }

    .menu img{
        width: 70px;
    }

    header{
        padding: 0;
        margin: 10px;
    }

    .body-main h1{
        font-size: 1.4rem;
    }

    .list{
        padding-top: 20px;
    }
}

@media (max-width: 320px){

}