.stars{
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: 779px 1331px #b3b3b3, 324px 42px #b3b3b3, 303px 586px #b3b3b3,
    1312px 276px #b3b3b3, 451px 625px #b3b3b3, 521px 1931px #b3b3b3, 1087px 1871px #b3b3b3,
    36px 1546px #b3b3b3, 132px 934px #b3b3b3, 1698px 901px #b3b3b3, 1418px 664px #b3b3b3,
    1448px 1157px #b3b3b3, 1084px 232px #b3b3b3, 347px 1776px #b3b3b3, 1722px 243px #b3b3b3,
    1629px 835px #b3b3b3, 479px 969px #b3b3b3, 1231px 960px #b3b3b3, 586px 384px #b3b3b3,
    164px 527px #b3b3b3, 8px 646px #b3b3b3, 1150px 1126px #b3b3b3, 665px 1357px #b3b3b3,
    1556px 1982px #b3b3b3, 1260px 1961px #b3b3b3, 1675px 1741px #b3b3b3,
    1843px 1514px #b3b3b3, 718px 1628px #b3b3b3, 242px 1343px #b3b3b3, 1497px 1880px #b3b3b3,
    1364px 230px #b3b3b3, 1739px 1302px #b3b3b3, 636px 959px #b3b3b3, 304px 686px #b3b3b3,
    614px 751px #b3b3b3, 1935px 816px #b3b3b3, 1428px 60px #b3b3b3, 355px 335px #b3b3b3,
    1594px 158px #b3b3b3, 90px 60px #b3b3b3, 1553px 162px #b3b3b3, 1239px 1825px #b3b3b3,
    1945px 587px #b3b3b3, 749px 1785px #b3b3b3, 1987px 1172px #b3b3b3, 1301px 1237px #b3b3b3,
    1039px 342px #b3b3b3, 1585px 1481px #b3b3b3, 995px 1048px #b3b3b3, 524px 932px #b3b3b3,
    214px 413px #b3b3b3, 1701px 1300px #b3b3b3, 1037px 1613px #b3b3b3, 1871px 996px #b3b3b3,
    1360px 1635px #b3b3b3, 1110px 1313px #b3b3b3, 412px 1783px #b3b3b3, 1949px 177px #b3b3b3,
    903px 1854px #b3b3b3, 700px 1936px #b3b3b3, 378px 125px #b3b3b3, 308px 834px #b3b3b3,
    1118px 962px #b3b3b3, 1350px 1929px #b3b3b3, 781px 1811px #b3b3b3, 561px 137px #b3b3b3,
    757px 1148px #b3b3b3, 1670px 1979px #b3b3b3, 343px 739px #b3b3b3, 945px 795px #b3b3b3,
    576px 1903px #b3b3b3, 1078px 1436px #b3b3b3, 1583px 450px #b3b3b3, 1366px 474px #b3b3b3,
    297px 1873px #b3b3b3, 192px 162px #b3b3b3, 1624px 1633px #b3b3b3, 59px 453px #b3b3b3,
    82px 1872px #b3b3b3, 1933px 498px #b3b3b3, 1966px 1974px #b3b3b3, 1975px 1688px #b3b3b3,
    779px 314px #b3b3b3, 1858px 1543px #b3b3b3, 73px 1507px #b3b3b3, 1693px 975px #b3b3b3,
    1683px 108px #b3b3b3, 1768px 1654px #b3b3b3, 654px 14px #b3b3b3, 494px 171px #b3b3b3,
    1689px 1895px #b3b3b3, 1660px 263px #b3b3b3, 1031px 903px #b3b3b3, 1203px 1393px #b3b3b3,
    1333px 1421px #b3b3b3, 1113px 41px #b3b3b3, 1206px 1645px #b3b3b3, 1325px 1635px #b3b3b3,
    142px 388px #b3b3b3, 572px 215px #b3b3b3, 1535px 296px #b3b3b3, 1419px 407px #b3b3b3,
    1379px 1003px #b3b3b3, 329px 469px #b3b3b3, 1791px 1652px #b3b3b3, 935px 1802px #b3b3b3,
    1330px 1820px #b3b3b3, 421px 1933px #b3b3b3, 828px 365px #b3b3b3, 275px 316px #b3b3b3,
    707px 960px #b3b3b3, 1605px 1554px #b3b3b3, 625px 58px #b3b3b3, 717px 1697px #b3b3b3,
    1669px 246px #b3b3b3, 1925px 322px #b3b3b3, 1154px 1803px #b3b3b3, 1929px 295px #b3b3b3,
    1248px 240px #b3b3b3, 1045px 1755px #b3b3b3, 166px 942px #b3b3b3, 1888px 1773px #b3b3b3,
    678px 1963px #b3b3b3, 1370px 569px #b3b3b3, 1974px 1400px #b3b3b3, 1786px 460px #b3b3b3,
    51px 307px #b3b3b3, 784px 1400px #b3b3b3, 730px 1258px #b3b3b3, 1712px 393px #b3b3b3,
    416px 170px #b3b3b3, 1797px 1932px #b3b3b3, 572px 219px #b3b3b3, 1557px 1856px #b3b3b3,
    218px 8px #b3b3b3, 348px 1334px #b3b3b3, 469px 413px #b3b3b3, 385px 1738px #b3b3b3,
    1357px 1818px #b3b3b3, 240px 942px #b3b3b3, 248px 1847px #b3b3b3, 1535px 806px #b3b3b3,
    236px 1514px #b3b3b3, 1429px 1556px #b3b3b3, 73px 1633px #b3b3b3, 1398px 1121px #b3b3b3,
    671px 1301px #b3b3b3, 1404px 1663px #b3b3b3, 740px 1018px #b3b3b3, 1600px 377px #b3b3b3,
    785px 514px #b3b3b3, 112px 1084px #b3b3b3, 1915px 1887px #b3b3b3, 1463px 1848px #b3b3b3,
    687px 1115px #b3b3b3, 1268px 1768px #b3b3b3, 1729px 1425px #b3b3b3,
    1284px 1022px #b3b3b3, 801px 974px #b3b3b3, 1975px 1317px #b3b3b3, 1354px 834px #b3b3b3,
    1446px 1484px #b3b3b3, 1283px 1786px #b3b3b3, 11px 523px #b3b3b3, 1842px 236px #b3b3b3,
    1355px 654px #b3b3b3, 429px 7px #b3b3b3, 1033px 1128px #b3b3b3, 157px 297px #b3b3b3,
    545px 635px #b3b3b3, 52px 1080px #b3b3b3, 827px 1520px #b3b3b3, 1121px 490px #b3b3b3,
    9px 309px #b3b3b3, 1744px 1586px #b3b3b3, 1014px 417px #b3b3b3, 1534px 524px #b3b3b3,
    958px 552px #b3b3b3, 1403px 1496px #b3b3b3, 387px 703px #b3b3b3, 1522px 548px #b3b3b3,
    1355px 282px #b3b3b3, 1532px 601px #b3b3b3, 1838px 790px #b3b3b3, 290px 259px #b3b3b3,
    295px 598px #b3b3b3, 1601px 539px #b3b3b3, 1561px 1272px #b3b3b3, 34px 1922px #b3b3b3,
    1024px 543px #b3b3b3, 467px 369px #b3b3b3, 722px 333px #b3b3b3, 1976px 1255px #b3b3b3,
    766px 983px #b3b3b3, 1582px 1285px #b3b3b3, 12px 512px #b3b3b3, 617px 1410px #b3b3b3,
    682px 577px #b3b3b3, 1334px 1438px #b3b3b3, 439px 327px #b3b3b3, 1617px 1661px #b3b3b3,
    673px 129px #b3b3b3, 794px 941px #b3b3b3, 1386px 1902px #b3b3b3, 37px 1353px #b3b3b3,
    1467px 1353px #b3b3b3, 416px 18px #b3b3b3, 187px 344px #b3b3b3, 200px 1898px #b3b3b3,
    1491px 1619px #b3b3b3, 811px 347px #b3b3b3, 924px 1827px #b3b3b3, 945px 217px #b3b3b3,
    1735px 1228px #b3b3b3, 379px 1890px #b3b3b3, 79px 761px #b3b3b3, 825px 1837px #b3b3b3,
    1980px 1558px #b3b3b3, 1308px 1573px #b3b3b3, 1488px 1726px #b3b3b3,
    382px 1208px #b3b3b3, 522px 595px #b3b3b3, 1277px 1898px #b3b3b3, 354px 552px #b3b3b3,
    161px 1784px #b3b3b3, 614px 251px #b3b3b3, 526px 1576px #b3b3b3, 17px 212px #b3b3b3,
    179px 996px #b3b3b3, 467px 1208px #b3b3b3, 1944px 1838px #b3b3b3, 1140px 1093px #b3b3b3,
    858px 1007px #b3b3b3, 200px 1064px #b3b3b3, 423px 1964px #b3b3b3, 1945px 439px #b3b3b3,
    1377px 689px #b3b3b3, 1120px 1437px #b3b3b3, 1876px 668px #b3b3b3, 907px 1324px #b3b3b3,
    343px 1976px #b3b3b3, 1816px 1501px #b3b3b3, 1849px 177px #b3b3b3, 647px 91px #b3b3b3,
    1984px 1012px #b3b3b3, 1336px 1300px #b3b3b3, 128px 648px #b3b3b3, 305px 1060px #b3b3b3,
    1324px 826px #b3b3b3, 1263px 1314px #b3b3b3, 1801px 629px #b3b3b3, 1614px 1555px #b3b3b3,
    1634px 90px #b3b3b3, 1603px 452px #b3b3b3, 891px 1984px #b3b3b3, 1556px 1906px #b3b3b3,
    121px 68px #b3b3b3, 1676px 1714px #b3b3b3, 516px 936px #b3b3b3, 1947px 1492px #b3b3b3,
    1455px 1519px #b3b3b3, 45px 602px #b3b3b3, 205px 1039px #b3b3b3, 793px 172px #b3b3b3,
    1562px 1739px #b3b3b3, 1056px 110px #b3b3b3, 1512px 379px #b3b3b3, 1795px 1621px #b3b3b3,
    1848px 607px #b3b3b3, 262px 1719px #b3b3b3, 477px 991px #b3b3b3, 483px 883px #b3b3b3,
    1239px 1197px #b3b3b3, 1496px 647px #b3b3b3, 1649px 25px #b3b3b3, 1491px 1946px #b3b3b3,
    119px 996px #b3b3b3, 179px 1472px #b3b3b3, 1341px 808px #b3b3b3, 1565px 1700px #b3b3b3,
    407px 1544px #b3b3b3, 1754px 357px #b3b3b3, 1288px 981px #b3b3b3, 902px 1997px #b3b3b3,
    1755px 1668px #b3b3b3, 186px 877px #b3b3b3, 1202px 1882px #b3b3b3, 461px 1213px #b3b3b3,
    1400px 748px #b3b3b3, 1969px 1899px #b3b3b3, 809px 522px #b3b3b3, 514px 1219px #b3b3b3,
    374px 275px #b3b3b3, 938px 1973px #b3b3b3, 357px 552px #b3b3b3, 144px 1722px #b3b3b3,
    1572px 912px #b3b3b3, 402px 1858px #b3b3b3, 1544px 1195px #b3b3b3, 667px 1257px #b3b3b3,
    727px 1496px #b3b3b3, 993px 232px #b3b3b3, 1772px 313px #b3b3b3, 1040px 1590px #b3b3b3,
    1204px 1973px #b3b3b3, 1268px 79px #b3b3b3, 1555px 1048px #b3b3b3, 986px 1707px #b3b3b3,
    978px 1710px #b3b3b3, 713px 360px #b3b3b3, 407px 863px #b3b3b3, 461px 736px #b3b3b3,
    284px 1608px #b3b3b3, 103px 430px #b3b3b3, 1283px 1319px #b3b3b3, 977px 1186px #b3b3b3,
    1966px 1516px #b3b3b3, 1287px 1129px #b3b3b3, 70px 1098px #b3b3b3, 1189px 889px #b3b3b3,
    1126px 1734px #b3b3b3, 309px 1292px #b3b3b3, 879px 764px #b3b3b3, 65px 473px #b3b3b3,
    1003px 1959px #b3b3b3, 658px 791px #b3b3b3, 402px 1576px #b3b3b3, 35px 622px #b3b3b3,
    529px 1589px #b3b3b3, 164px 666px #b3b3b3, 1876px 1290px #b3b3b3, 1541px 526px #b3b3b3,
    270px 1297px #b3b3b3, 440px 865px #b3b3b3, 1500px 802px #b3b3b3, 182px 1754px #b3b3b3,
    1264px 892px #b3b3b3, 272px 1249px #b3b3b3, 1289px 1535px #b3b3b3, 190px 1646px #b3b3b3,
    955px 242px #b3b3b3, 1456px 1597px #b3b3b3, 1727px 1983px #b3b3b3, 635px 801px #b3b3b3,
    226px 455px #b3b3b3, 1396px 1710px #b3b3b3, 849px 1863px #b3b3b3, 237px 1264px #b3b3b3,
    839px 140px #b3b3b3, 1122px 735px #b3b3b3, 1280px 15px #b3b3b3, 1318px 242px #b3b3b3,
    1819px 1148px #b3b3b3, 333px 1392px #b3b3b3, 1949px 553px #b3b3b3, 1878px 1332px #b3b3b3,
    467px 548px #b3b3b3, 1812px 1082px #b3b3b3, 1067px 193px #b3b3b3, 243px 156px #b3b3b3,
    483px 1616px #b3b3b3, 1714px 933px #b3b3b3, 759px 1800px #b3b3b3, 1822px 995px #b3b3b3,
    1877px 572px #b3b3b3, 581px 1084px #b3b3b3, 107px 732px #b3b3b3, 642px 1837px #b3b3b3,
    166px 1493px #b3b3b3, 1555px 198px #b3b3b3, 819px 307px #b3b3b3, 947px 345px #b3b3b3,
    827px 224px #b3b3b3, 927px 1394px #b3b3b3, 540px 467px #b3b3b3, 1093px 405px #b3b3b3,
    1140px 927px #b3b3b3, 130px 529px #b3b3b3, 33px 1980px #b3b3b3, 1147px 1663px #b3b3b3,
    1616px 1436px #b3b3b3, 528px 710px #b3b3b3, 798px 1100px #b3b3b3, 505px 1480px #b3b3b3,
    899px 641px #b3b3b3, 1909px 1949px #b3b3b3, 1311px 964px #b3b3b3, 979px 1301px #b3b3b3,
    1393px 969px #b3b3b3, 1793px 1886px #b3b3b3, 292px 357px #b3b3b3, 1196px 1718px #b3b3b3,
    1290px 1994px #b3b3b3, 537px 1973px #b3b3b3, 1181px 1674px #b3b3b3,
    1740px 1566px #b3b3b3, 1307px 265px #b3b3b3, 922px 522px #b3b3b3, 1892px 472px #b3b3b3,
    384px 1746px #b3b3b3, 392px 1098px #b3b3b3, 647px 548px #b3b3b3, 390px 1498px #b3b3b3,
    1246px 138px #b3b3b3, 730px 876px #b3b3b3, 192px 1472px #b3b3b3, 1790px 1789px #b3b3b3,
    928px 311px #b3b3b3, 1253px 1647px #b3b3b3, 747px 1921px #b3b3b3, 1561px 1025px #b3b3b3,
    1533px 1292px #b3b3b3, 1985px 195px #b3b3b3, 728px 729px #b3b3b3, 1712px 1936px #b3b3b3,
    512px 1717px #b3b3b3, 1528px 483px #b3b3b3, 313px 1642px #b3b3b3, 281px 1849px #b3b3b3,
    1212px 799px #b3b3b3, 435px 1191px #b3b3b3, 1422px 611px #b3b3b3, 1718px 1964px #b3b3b3,
    411px 944px #b3b3b3, 210px 636px #b3b3b3, 1502px 1295px #b3b3b3, 1434px 349px #b3b3b3,
    769px 60px #b3b3b3, 747px 1053px #b3b3b3, 789px 504px #b3b3b3, 1436px 1264px #b3b3b3,
    1893px 1225px #b3b3b3, 1394px 1788px #b3b3b3, 1108px 1317px #b3b3b3,
    1673px 1395px #b3b3b3, 854px 1010px #b3b3b3, 1705px 80px #b3b3b3, 1858px 148px #b3b3b3,
    1729px 344px #b3b3b3, 1388px 664px #b3b3b3, 895px 406px #b3b3b3, 1479px 157px #b3b3b3,
    1441px 1157px #b3b3b3, 552px 1900px #b3b3b3, 516px 364px #b3b3b3, 1647px 189px #b3b3b3,
    1427px 1071px #b3b3b3, 785px 729px #b3b3b3, 1080px 1710px #b3b3b3, 504px 204px #b3b3b3,
    1177px 1622px #b3b3b3, 657px 34px #b3b3b3, 1296px 1099px #b3b3b3, 248px 180px #b3b3b3,
    1212px 1568px #b3b3b3, 667px 1562px #b3b3b3, 695px 841px #b3b3b3, 1608px 1247px #b3b3b3,
    751px 882px #b3b3b3, 87px 167px #b3b3b3, 607px 1368px #b3b3b3, 1363px 1203px #b3b3b3,
    1836px 317px #b3b3b3, 1668px 1703px #b3b3b3, 830px 1154px #b3b3b3, 1721px 1398px #b3b3b3,
    1601px 1280px #b3b3b3, 976px 874px #b3b3b3, 1743px 254px #b3b3b3, 1020px 1815px #b3b3b3,
    1670px 1766px #b3b3b3, 1890px 735px #b3b3b3, 1379px 136px #b3b3b3, 1864px 695px #b3b3b3,
    206px 965px #b3b3b3, 1404px 1932px #b3b3b3, 1923px 1360px #b3b3b3, 247px 682px #b3b3b3,
    519px 1708px #b3b3b3, 645px 750px #b3b3b3, 1164px 1204px #b3b3b3, 834px 323px #b3b3b3,
    172px 1350px #b3b3b3, 213px 972px #b3b3b3, 1837px 190px #b3b3b3, 285px 1806px #b3b3b3,
    1047px 1299px #b3b3b3, 1548px 825px #b3b3b3, 1730px 324px #b3b3b3, 1346px 1909px #b3b3b3,
    772px 270px #b3b3b3, 345px 1190px #b3b3b3, 478px 1433px #b3b3b3, 1479px 25px #b3b3b3,
    1994px 1830px #b3b3b3, 1744px 732px #b3b3b3, 20px 1635px #b3b3b3, 690px 1795px #b3b3b3,
    1594px 569px #b3b3b3, 579px 245px #b3b3b3, 1398px 733px #b3b3b3, 408px 1352px #b3b3b3,
    1774px 120px #b3b3b3, 1152px 1370px #b3b3b3, 1698px 1810px #b3b3b3, 710px 1450px #b3b3b3,
    665px 286px #b3b3b3, 493px 1720px #b3b3b3, 786px 5px #b3b3b3, 637px 1140px #b3b3b3,
    764px 324px #b3b3b3, 927px 310px #b3b3b3, 938px 1424px #b3b3b3, 1884px 744px #b3b3b3,
    913px 462px #b3b3b3, 1831px 1936px #b3b3b3, 1527px 249px #b3b3b3, 36px 1381px #b3b3b3,
    1597px 581px #b3b3b3, 1530px 355px #b3b3b3, 949px 459px #b3b3b3, 799px 828px #b3b3b3,
    242px 1471px #b3b3b3, 654px 797px #b3b3b3, 796px 594px #b3b3b3, 1365px 678px #b3b3b3,
    752px 23px #b3b3b3, 1630px 541px #b3b3b3, 982px 72px #b3b3b3, 1733px 1831px #b3b3b3,
    21px 412px #b3b3b3, 775px 998px #b3b3b3, 335px 1945px #b3b3b3, 264px 583px #b3b3b3,
    158px 1311px #b3b3b3, 528px 164px #b3b3b3, 1978px 574px #b3b3b3, 717px 1203px #b3b3b3,
    734px 1591px #b3b3b3, 1555px 820px #b3b3b3, 16px 1943px #b3b3b3, 1625px 1177px #b3b3b3,
    1236px 690px #b3b3b3, 1585px 1590px #b3b3b3, 1737px 1728px #b3b3b3, 721px 698px #b3b3b3,
    1804px 1186px #b3b3b3, 166px 980px #b3b3b3, 1850px 230px #b3b3b3, 330px 1712px #b3b3b3,
    95px 797px #b3b3b3, 1948px 1078px #b3b3b3, 469px 939px #b3b3b3, 1269px 1899px #b3b3b3,
    955px 1220px #b3b3b3, 1137px 1075px #b3b3b3, 312px 1293px #b3b3b3, 986px 1762px #b3b3b3,
    1103px 1238px #b3b3b3, 428px 1993px #b3b3b3, 355px 570px #b3b3b3, 977px 1836px #b3b3b3,
    1395px 1092px #b3b3b3, 276px 913px #b3b3b3, 1743px 656px #b3b3b3, 773px 502px #b3b3b3,
    1686px 1322px #b3b3b3, 1516px 1945px #b3b3b3, 1334px 501px #b3b3b3, 266px 156px #b3b3b3,
    455px 655px #b3b3b3, 798px 72px #b3b3b3, 1059px 1259px #b3b3b3, 1402px 1687px #b3b3b3,
    236px 1329px #b3b3b3, 1455px 786px #b3b3b3, 146px 1228px #b3b3b3, 1851px 823px #b3b3b3,
    1062px 100px #b3b3b3, 1220px 953px #b3b3b3, 20px 1826px #b3b3b3, 36px 1063px #b3b3b3,
    1525px 338px #b3b3b3, 790px 1521px #b3b3b3, 741px 1099px #b3b3b3, 288px 1489px #b3b3b3,
    700px 1060px #b3b3b3, 390px 1071px #b3b3b3, 411px 1036px #b3b3b3, 1853px 1072px #b3b3b3,
    1446px 1085px #b3b3b3, 1164px 874px #b3b3b3, 924px 925px #b3b3b3, 291px 271px #b3b3b3,
    1257px 1964px #b3b3b3, 1580px 1352px #b3b3b3, 1507px 1216px #b3b3b3, 211px 956px #b3b3b3,
    985px 1195px #b3b3b3, 975px 1640px #b3b3b3, 518px 101px #b3b3b3, 663px 1395px #b3b3b3,
    914px 532px #b3b3b3, 145px 1320px #b3b3b3, 69px 1397px #b3b3b3, 982px 523px #b3b3b3,
    257px 725px #b3b3b3, 1599px 831px #b3b3b3, 1636px 1513px #b3b3b3, 1250px 1158px #b3b3b3,
    1132px 604px #b3b3b3, 183px 102px #b3b3b3, 1057px 318px #b3b3b3, 1247px 1835px #b3b3b3,
    1983px 1110px #b3b3b3, 1077px 1455px #b3b3b3, 921px 1770px #b3b3b3, 806px 1350px #b3b3b3,
    1938px 1992px #b3b3b3, 855px 1260px #b3b3b3, 902px 1345px #b3b3b3, 658px 1908px #b3b3b3,
    1845px 679px #b3b3b3, 712px 1482px #b3b3b3, 595px 950px #b3b3b3, 1784px 1992px #b3b3b3,
    1847px 1785px #b3b3b3, 691px 1004px #b3b3b3, 175px 1179px #b3b3b3, 1666px 1911px #b3b3b3,
    41px 61px #b3b3b3, 971px 1080px #b3b3b3, 1830px 1450px #b3b3b3, 1351px 1518px #b3b3b3,
    1257px 99px #b3b3b3, 1395px 1498px #b3b3b3, 1117px 252px #b3b3b3, 1779px 597px #b3b3b3,
    1346px 729px #b3b3b3, 1108px 1144px #b3b3b3, 402px 691px #b3b3b3, 72px 496px #b3b3b3,
    1673px 1604px #b3b3b3, 1497px 974px #b3b3b3, 1865px 1664px #b3b3b3, 88px 806px #b3b3b3,
    918px 77px #b3b3b3, 244px 1118px #b3b3b3, 256px 1820px #b3b3b3, 1851px 1840px #b3b3b3,
    605px 1851px #b3b3b3, 634px 383px #b3b3b3, 865px 37px #b3b3b3, 943px 1024px #b3b3b3,
    1951px 177px #b3b3b3, 1097px 523px #b3b3b3, 985px 1700px #b3b3b3, 1243px 122px #b3b3b3,
    768px 1070px #b3b3b3, 468px 194px #b3b3b3, 320px 1867px #b3b3b3, 1850px 185px #b3b3b3,
    380px 1616px #b3b3b3, 468px 1294px #b3b3b3, 1122px 1743px #b3b3b3, 884px 299px #b3b3b3,
    1300px 1917px #b3b3b3, 1860px 396px #b3b3b3, 1270px 990px #b3b3b3, 529px 733px #b3b3b3,
    1975px 1347px #b3b3b3, 1885px 685px #b3b3b3, 226px 506px #b3b3b3, 651px 878px #b3b3b3,
    1323px 680px #b3b3b3, 1284px 680px #b3b3b3, 238px 1967px #b3b3b3, 911px 174px #b3b3b3,
    1111px 521px #b3b3b3, 1150px 85px #b3b3b3, 794px 502px #b3b3b3, 484px 1856px #b3b3b3,
    1809px 368px #b3b3b3, 112px 953px #b3b3b3, 590px 1009px #b3b3b3, 1655px 311px #b3b3b3,
    100px 1026px #b3b3b3, 1803px 352px #b3b3b3, 865px 306px #b3b3b3, 1077px 1019px #b3b3b3,
    1335px 872px #b3b3b3, 1647px 1298px #b3b3b3, 1233px 1387px #b3b3b3, 698px 1036px #b3b3b3,
    659px 1860px #b3b3b3, 388px 1412px #b3b3b3, 1212px 458px #b3b3b3, 755px 1468px #b3b3b3,
    696px 1654px #b3b3b3, 1144px 60px #b3b3b3;
}

.stars::after{
    content: "";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px #b3b3b3, 324px 42px #b3b3b3, 303px 586px #b3b3b3,
    1312px 276px #b3b3b3, 451px 625px #b3b3b3, 521px 1931px #b3b3b3, 1087px 1871px #b3b3b3,
    36px 1546px #b3b3b3, 132px 934px #b3b3b3, 1698px 901px #b3b3b3, 1418px 664px #b3b3b3,
    1448px 1157px #b3b3b3, 1084px 232px #b3b3b3, 347px 1776px #b3b3b3, 1722px 243px #b3b3b3,
    1629px 835px #b3b3b3, 479px 969px #b3b3b3, 1231px 960px #b3b3b3, 586px 384px #b3b3b3,
    164px 527px #b3b3b3, 8px 646px #b3b3b3, 1150px 1126px #b3b3b3, 665px 1357px #b3b3b3,
    1556px 1982px #b3b3b3, 1260px 1961px #b3b3b3, 1675px 1741px #b3b3b3,
    1843px 1514px #b3b3b3, 718px 1628px #b3b3b3, 242px 1343px #b3b3b3, 1497px 1880px #b3b3b3,
    1364px 230px #b3b3b3, 1739px 1302px #b3b3b3, 636px 959px #b3b3b3, 304px 686px #b3b3b3,
    614px 751px #b3b3b3, 1935px 816px #b3b3b3, 1428px 60px #b3b3b3, 355px 335px #b3b3b3,
    1594px 158px #b3b3b3, 90px 60px #b3b3b3, 1553px 162px #b3b3b3, 1239px 1825px #b3b3b3,
    1945px 587px #b3b3b3, 749px 1785px #b3b3b3, 1987px 1172px #b3b3b3, 1301px 1237px #b3b3b3,
    1039px 342px #b3b3b3, 1585px 1481px #b3b3b3, 995px 1048px #b3b3b3, 524px 932px #b3b3b3,
    214px 413px #b3b3b3, 1701px 1300px #b3b3b3, 1037px 1613px #b3b3b3, 1871px 996px #b3b3b3,
    1360px 1635px #b3b3b3, 1110px 1313px #b3b3b3, 412px 1783px #b3b3b3, 1949px 177px #b3b3b3,
    903px 1854px #b3b3b3, 700px 1936px #b3b3b3, 378px 125px #b3b3b3, 308px 834px #b3b3b3,
    1118px 962px #b3b3b3, 1350px 1929px #b3b3b3, 781px 1811px #b3b3b3, 561px 137px #b3b3b3,
    757px 1148px #b3b3b3, 1670px 1979px #b3b3b3, 343px 739px #b3b3b3, 945px 795px #b3b3b3,
    576px 1903px #b3b3b3, 1078px 1436px #b3b3b3, 1583px 450px #b3b3b3, 1366px 474px #b3b3b3,
    297px 1873px #b3b3b3, 192px 162px #b3b3b3, 1624px 1633px #b3b3b3, 59px 453px #b3b3b3,
    82px 1872px #b3b3b3, 1933px 498px #b3b3b3, 1966px 1974px #b3b3b3, 1975px 1688px #b3b3b3,
    779px 314px #b3b3b3, 1858px 1543px #b3b3b3, 73px 1507px #b3b3b3, 1693px 975px #b3b3b3,
    1683px 108px #b3b3b3, 1768px 1654px #b3b3b3, 654px 14px #b3b3b3, 494px 171px #b3b3b3,
    1689px 1895px #b3b3b3, 1660px 263px #b3b3b3, 1031px 903px #b3b3b3, 1203px 1393px #b3b3b3,
    1333px 1421px #b3b3b3, 1113px 41px #b3b3b3, 1206px 1645px #b3b3b3, 1325px 1635px #b3b3b3,
    142px 388px #b3b3b3, 572px 215px #b3b3b3, 1535px 296px #b3b3b3, 1419px 407px #b3b3b3,
    1379px 1003px #b3b3b3, 329px 469px #b3b3b3, 1791px 1652px #b3b3b3, 935px 1802px #b3b3b3,
    1330px 1820px #b3b3b3, 421px 1933px #b3b3b3, 828px 365px #b3b3b3, 275px 316px #b3b3b3,
    707px 960px #b3b3b3, 1605px 1554px #b3b3b3, 625px 58px #b3b3b3, 717px 1697px #b3b3b3,
    1669px 246px #b3b3b3, 1925px 322px #b3b3b3, 1154px 1803px #b3b3b3, 1929px 295px #b3b3b3,
    1248px 240px #b3b3b3, 1045px 1755px #b3b3b3, 166px 942px #b3b3b3, 1888px 1773px #b3b3b3,
    678px 1963px #b3b3b3, 1370px 569px #b3b3b3, 1974px 1400px #b3b3b3, 1786px 460px #b3b3b3,
    51px 307px #b3b3b3, 784px 1400px #b3b3b3, 730px 1258px #b3b3b3, 1712px 393px #b3b3b3,
    416px 170px #b3b3b3, 1797px 1932px #b3b3b3, 572px 219px #b3b3b3, 1557px 1856px #b3b3b3,
    218px 8px #b3b3b3, 348px 1334px #b3b3b3, 469px 413px #b3b3b3, 385px 1738px #b3b3b3,
    1357px 1818px #b3b3b3, 240px 942px #b3b3b3, 248px 1847px #b3b3b3, 1535px 806px #b3b3b3,
    236px 1514px #b3b3b3, 1429px 1556px #b3b3b3, 73px 1633px #b3b3b3, 1398px 1121px #b3b3b3,
    671px 1301px #b3b3b3, 1404px 1663px #b3b3b3, 740px 1018px #b3b3b3, 1600px 377px #b3b3b3,
    785px 514px #b3b3b3, 112px 1084px #b3b3b3, 1915px 1887px #b3b3b3, 1463px 1848px #b3b3b3,
    687px 1115px #b3b3b3, 1268px 1768px #b3b3b3, 1729px 1425px #b3b3b3,
    1284px 1022px #b3b3b3, 801px 974px #b3b3b3, 1975px 1317px #b3b3b3, 1354px 834px #b3b3b3,
    1446px 1484px #b3b3b3, 1283px 1786px #b3b3b3, 11px 523px #b3b3b3, 1842px 236px #b3b3b3,
    1355px 654px #b3b3b3, 429px 7px #b3b3b3, 1033px 1128px #b3b3b3, 157px 297px #b3b3b3,
    545px 635px #b3b3b3, 52px 1080px #b3b3b3, 827px 1520px #b3b3b3, 1121px 490px #b3b3b3,
    9px 309px #b3b3b3, 1744px 1586px #b3b3b3, 1014px 417px #b3b3b3, 1534px 524px #b3b3b3,
    958px 552px #b3b3b3, 1403px 1496px #b3b3b3, 387px 703px #b3b3b3, 1522px 548px #b3b3b3,
    1355px 282px #b3b3b3, 1532px 601px #b3b3b3, 1838px 790px #b3b3b3, 290px 259px #b3b3b3,
    295px 598px #b3b3b3, 1601px 539px #b3b3b3, 1561px 1272px #b3b3b3, 34px 1922px #b3b3b3,
    1024px 543px #b3b3b3, 467px 369px #b3b3b3, 722px 333px #b3b3b3, 1976px 1255px #b3b3b3,
    766px 983px #b3b3b3, 1582px 1285px #b3b3b3, 12px 512px #b3b3b3, 617px 1410px #b3b3b3,
    682px 577px #b3b3b3, 1334px 1438px #b3b3b3, 439px 327px #b3b3b3, 1617px 1661px #b3b3b3,
    673px 129px #b3b3b3, 794px 941px #b3b3b3, 1386px 1902px #b3b3b3, 37px 1353px #b3b3b3,
    1467px 1353px #b3b3b3, 416px 18px #b3b3b3, 187px 344px #b3b3b3, 200px 1898px #b3b3b3,
    1491px 1619px #b3b3b3, 811px 347px #b3b3b3, 924px 1827px #b3b3b3, 945px 217px #b3b3b3,
    1735px 1228px #b3b3b3, 379px 1890px #b3b3b3, 79px 761px #b3b3b3, 825px 1837px #b3b3b3,
    1980px 1558px #b3b3b3, 1308px 1573px #b3b3b3, 1488px 1726px #b3b3b3,
    382px 1208px #b3b3b3, 522px 595px #b3b3b3, 1277px 1898px #b3b3b3, 354px 552px #b3b3b3,
    161px 1784px #b3b3b3, 614px 251px #b3b3b3, 526px 1576px #b3b3b3, 17px 212px #b3b3b3,
    179px 996px #b3b3b3, 467px 1208px #b3b3b3, 1944px 1838px #b3b3b3, 1140px 1093px #b3b3b3,
    858px 1007px #b3b3b3, 200px 1064px #b3b3b3, 423px 1964px #b3b3b3, 1945px 439px #b3b3b3,
    1377px 689px #b3b3b3, 1120px 1437px #b3b3b3, 1876px 668px #b3b3b3, 907px 1324px #b3b3b3,
    343px 1976px #b3b3b3, 1816px 1501px #b3b3b3, 1849px 177px #b3b3b3, 647px 91px #b3b3b3,
    1984px 1012px #b3b3b3, 1336px 1300px #b3b3b3, 128px 648px #b3b3b3, 305px 1060px #b3b3b3,
    1324px 826px #b3b3b3, 1263px 1314px #b3b3b3, 1801px 629px #b3b3b3, 1614px 1555px #b3b3b3,
    1634px 90px #b3b3b3, 1603px 452px #b3b3b3, 891px 1984px #b3b3b3, 1556px 1906px #b3b3b3,
    121px 68px #b3b3b3, 1676px 1714px #b3b3b3, 516px 936px #b3b3b3, 1947px 1492px #b3b3b3,
    1455px 1519px #b3b3b3, 45px 602px #b3b3b3, 205px 1039px #b3b3b3, 793px 172px #b3b3b3,
    1562px 1739px #b3b3b3, 1056px 110px #b3b3b3, 1512px 379px #b3b3b3, 1795px 1621px #b3b3b3,
    1848px 607px #b3b3b3, 262px 1719px #b3b3b3, 477px 991px #b3b3b3, 483px 883px #b3b3b3,
    1239px 1197px #b3b3b3, 1496px 647px #b3b3b3, 1649px 25px #b3b3b3, 1491px 1946px #b3b3b3,
    119px 996px #b3b3b3, 179px 1472px #b3b3b3, 1341px 808px #b3b3b3, 1565px 1700px #b3b3b3,
    407px 1544px #b3b3b3, 1754px 357px #b3b3b3, 1288px 981px #b3b3b3, 902px 1997px #b3b3b3,
    1755px 1668px #b3b3b3, 186px 877px #b3b3b3, 1202px 1882px #b3b3b3, 461px 1213px #b3b3b3,
    1400px 748px #b3b3b3, 1969px 1899px #b3b3b3, 809px 522px #b3b3b3, 514px 1219px #b3b3b3,
    374px 275px #b3b3b3, 938px 1973px #b3b3b3, 357px 552px #b3b3b3, 144px 1722px #b3b3b3,
    1572px 912px #b3b3b3, 402px 1858px #b3b3b3, 1544px 1195px #b3b3b3, 667px 1257px #b3b3b3,
    727px 1496px #b3b3b3, 993px 232px #b3b3b3, 1772px 313px #b3b3b3, 1040px 1590px #b3b3b3,
    1204px 1973px #b3b3b3, 1268px 79px #b3b3b3, 1555px 1048px #b3b3b3, 986px 1707px #b3b3b3,
    978px 1710px #b3b3b3, 713px 360px #b3b3b3, 407px 863px #b3b3b3, 461px 736px #b3b3b3,
    284px 1608px #b3b3b3, 103px 430px #b3b3b3, 1283px 1319px #b3b3b3, 977px 1186px #b3b3b3,
    1966px 1516px #b3b3b3, 1287px 1129px #b3b3b3, 70px 1098px #b3b3b3, 1189px 889px #b3b3b3,
    1126px 1734px #b3b3b3, 309px 1292px #b3b3b3, 879px 764px #b3b3b3, 65px 473px #b3b3b3,
    1003px 1959px #b3b3b3, 658px 791px #b3b3b3, 402px 1576px #b3b3b3, 35px 622px #b3b3b3,
    529px 1589px #b3b3b3, 164px 666px #b3b3b3, 1876px 1290px #b3b3b3, 1541px 526px #b3b3b3,
    270px 1297px #b3b3b3, 440px 865px #b3b3b3, 1500px 802px #b3b3b3, 182px 1754px #b3b3b3,
    1264px 892px #b3b3b3, 272px 1249px #b3b3b3, 1289px 1535px #b3b3b3, 190px 1646px #b3b3b3,
    955px 242px #b3b3b3, 1456px 1597px #b3b3b3, 1727px 1983px #b3b3b3, 635px 801px #b3b3b3,
    226px 455px #b3b3b3, 1396px 1710px #b3b3b3, 849px 1863px #b3b3b3, 237px 1264px #b3b3b3,
    839px 140px #b3b3b3, 1122px 735px #b3b3b3, 1280px 15px #b3b3b3, 1318px 242px #b3b3b3,
    1819px 1148px #b3b3b3, 333px 1392px #b3b3b3, 1949px 553px #b3b3b3, 1878px 1332px #b3b3b3,
    467px 548px #b3b3b3, 1812px 1082px #b3b3b3, 1067px 193px #b3b3b3, 243px 156px #b3b3b3,
    483px 1616px #b3b3b3, 1714px 933px #b3b3b3, 759px 1800px #b3b3b3, 1822px 995px #b3b3b3,
    1877px 572px #b3b3b3, 581px 1084px #b3b3b3, 107px 732px #b3b3b3, 642px 1837px #b3b3b3,
    166px 1493px #b3b3b3, 1555px 198px #b3b3b3, 819px 307px #b3b3b3, 947px 345px #b3b3b3,
    827px 224px #b3b3b3, 927px 1394px #b3b3b3, 540px 467px #b3b3b3, 1093px 405px #b3b3b3,
    1140px 927px #b3b3b3, 130px 529px #b3b3b3, 33px 1980px #b3b3b3, 1147px 1663px #b3b3b3,
    1616px 1436px #b3b3b3, 528px 710px #b3b3b3, 798px 1100px #b3b3b3, 505px 1480px #b3b3b3,
    899px 641px #b3b3b3, 1909px 1949px #b3b3b3, 1311px 964px #b3b3b3, 979px 1301px #b3b3b3,
    1393px 969px #b3b3b3, 1793px 1886px #b3b3b3, 292px 357px #b3b3b3, 1196px 1718px #b3b3b3,
    1290px 1994px #b3b3b3, 537px 1973px #b3b3b3, 1181px 1674px #b3b3b3,
    1740px 1566px #b3b3b3, 1307px 265px #b3b3b3, 922px 522px #b3b3b3, 1892px 472px #b3b3b3,
    384px 1746px #b3b3b3, 392px 1098px #b3b3b3, 647px 548px #b3b3b3, 390px 1498px #b3b3b3,
    1246px 138px #b3b3b3, 730px 876px #b3b3b3, 192px 1472px #b3b3b3, 1790px 1789px #b3b3b3,
    928px 311px #b3b3b3, 1253px 1647px #b3b3b3, 747px 1921px #b3b3b3, 1561px 1025px #b3b3b3,
    1533px 1292px #b3b3b3, 1985px 195px #b3b3b3, 728px 729px #b3b3b3, 1712px 1936px #b3b3b3,
    512px 1717px #b3b3b3, 1528px 483px #b3b3b3, 313px 1642px #b3b3b3, 281px 1849px #b3b3b3,
    1212px 799px #b3b3b3, 435px 1191px #b3b3b3, 1422px 611px #b3b3b3, 1718px 1964px #b3b3b3,
    411px 944px #b3b3b3, 210px 636px #b3b3b3, 1502px 1295px #b3b3b3, 1434px 349px #b3b3b3,
    769px 60px #b3b3b3, 747px 1053px #b3b3b3, 789px 504px #b3b3b3, 1436px 1264px #b3b3b3,
    1893px 1225px #b3b3b3, 1394px 1788px #b3b3b3, 1108px 1317px #b3b3b3,
    1673px 1395px #b3b3b3, 854px 1010px #b3b3b3, 1705px 80px #b3b3b3, 1858px 148px #b3b3b3,
    1729px 344px #b3b3b3, 1388px 664px #b3b3b3, 895px 406px #b3b3b3, 1479px 157px #b3b3b3,
    1441px 1157px #b3b3b3, 552px 1900px #b3b3b3, 516px 364px #b3b3b3, 1647px 189px #b3b3b3,
    1427px 1071px #b3b3b3, 785px 729px #b3b3b3, 1080px 1710px #b3b3b3, 504px 204px #b3b3b3,
    1177px 1622px #b3b3b3, 657px 34px #b3b3b3, 1296px 1099px #b3b3b3, 248px 180px #b3b3b3,
    1212px 1568px #b3b3b3, 667px 1562px #b3b3b3, 695px 841px #b3b3b3, 1608px 1247px #b3b3b3,
    751px 882px #b3b3b3, 87px 167px #b3b3b3, 607px 1368px #b3b3b3, 1363px 1203px #b3b3b3,
    1836px 317px #b3b3b3, 1668px 1703px #b3b3b3, 830px 1154px #b3b3b3, 1721px 1398px #b3b3b3,
    1601px 1280px #b3b3b3, 976px 874px #b3b3b3, 1743px 254px #b3b3b3, 1020px 1815px #b3b3b3,
    1670px 1766px #b3b3b3, 1890px 735px #b3b3b3, 1379px 136px #b3b3b3, 1864px 695px #b3b3b3,
    206px 965px #b3b3b3, 1404px 1932px #b3b3b3, 1923px 1360px #b3b3b3, 247px 682px #b3b3b3,
    519px 1708px #b3b3b3, 645px 750px #b3b3b3, 1164px 1204px #b3b3b3, 834px 323px #b3b3b3,
    172px 1350px #b3b3b3, 213px 972px #b3b3b3, 1837px 190px #b3b3b3, 285px 1806px #b3b3b3,
    1047px 1299px #b3b3b3, 1548px 825px #b3b3b3, 1730px 324px #b3b3b3, 1346px 1909px #b3b3b3,
    772px 270px #b3b3b3, 345px 1190px #b3b3b3, 478px 1433px #b3b3b3, 1479px 25px #b3b3b3,
    1994px 1830px #b3b3b3, 1744px 732px #b3b3b3, 20px 1635px #b3b3b3, 690px 1795px #b3b3b3,
    1594px 569px #b3b3b3, 579px 245px #b3b3b3, 1398px 733px #b3b3b3, 408px 1352px #b3b3b3,
    1774px 120px #b3b3b3, 1152px 1370px #b3b3b3, 1698px 1810px #b3b3b3, 710px 1450px #b3b3b3,
    665px 286px #b3b3b3, 493px 1720px #b3b3b3, 786px 5px #b3b3b3, 637px 1140px #b3b3b3,
    764px 324px #b3b3b3, 927px 310px #b3b3b3, 938px 1424px #b3b3b3, 1884px 744px #b3b3b3,
    913px 462px #b3b3b3, 1831px 1936px #b3b3b3, 1527px 249px #b3b3b3, 36px 1381px #b3b3b3,
    1597px 581px #b3b3b3, 1530px 355px #b3b3b3, 949px 459px #b3b3b3, 799px 828px #b3b3b3,
    242px 1471px #b3b3b3, 654px 797px #b3b3b3, 796px 594px #b3b3b3, 1365px 678px #b3b3b3,
    752px 23px #b3b3b3, 1630px 541px #b3b3b3, 982px 72px #b3b3b3, 1733px 1831px #b3b3b3,
    21px 412px #b3b3b3, 775px 998px #b3b3b3, 335px 1945px #b3b3b3, 264px 583px #b3b3b3,
    158px 1311px #b3b3b3, 528px 164px #b3b3b3, 1978px 574px #b3b3b3, 717px 1203px #b3b3b3,
    734px 1591px #b3b3b3, 1555px 820px #b3b3b3, 16px 1943px #b3b3b3, 1625px 1177px #b3b3b3,
    1236px 690px #b3b3b3, 1585px 1590px #b3b3b3, 1737px 1728px #b3b3b3, 721px 698px #b3b3b3,
    1804px 1186px #b3b3b3, 166px 980px #b3b3b3, 1850px 230px #b3b3b3, 330px 1712px #b3b3b3,
    95px 797px #b3b3b3, 1948px 1078px #b3b3b3, 469px 939px #b3b3b3, 1269px 1899px #b3b3b3,
    955px 1220px #b3b3b3, 1137px 1075px #b3b3b3, 312px 1293px #b3b3b3, 986px 1762px #b3b3b3,
    1103px 1238px #b3b3b3, 428px 1993px #b3b3b3, 355px 570px #b3b3b3, 977px 1836px #b3b3b3,
    1395px 1092px #b3b3b3, 276px 913px #b3b3b3, 1743px 656px #b3b3b3, 773px 502px #b3b3b3,
    1686px 1322px #b3b3b3, 1516px 1945px #b3b3b3, 1334px 501px #b3b3b3, 266px 156px #b3b3b3,
    455px 655px #b3b3b3, 798px 72px #b3b3b3, 1059px 1259px #b3b3b3, 1402px 1687px #b3b3b3,
    236px 1329px #b3b3b3, 1455px 786px #b3b3b3, 146px 1228px #b3b3b3, 1851px 823px #b3b3b3,
    1062px 100px #b3b3b3, 1220px 953px #b3b3b3, 20px 1826px #b3b3b3, 36px 1063px #b3b3b3,
    1525px 338px #b3b3b3, 790px 1521px #b3b3b3, 741px 1099px #b3b3b3, 288px 1489px #b3b3b3,
    700px 1060px #b3b3b3, 390px 1071px #b3b3b3, 411px 1036px #b3b3b3, 1853px 1072px #b3b3b3,
    1446px 1085px #b3b3b3, 1164px 874px #b3b3b3, 924px 925px #b3b3b3, 291px 271px #b3b3b3,
    1257px 1964px #b3b3b3, 1580px 1352px #b3b3b3, 1507px 1216px #b3b3b3, 211px 956px #b3b3b3,
    985px 1195px #b3b3b3, 975px 1640px #b3b3b3, 518px 101px #b3b3b3, 663px 1395px #b3b3b3,
    914px 532px #b3b3b3, 145px 1320px #b3b3b3, 69px 1397px #b3b3b3, 982px 523px #b3b3b3,
    257px 725px #b3b3b3, 1599px 831px #b3b3b3, 1636px 1513px #b3b3b3, 1250px 1158px #b3b3b3,
    1132px 604px #b3b3b3, 183px 102px #b3b3b3, 1057px 318px #b3b3b3, 1247px 1835px #b3b3b3,
    1983px 1110px #b3b3b3, 1077px 1455px #b3b3b3, 921px 1770px #b3b3b3, 806px 1350px #b3b3b3,
    1938px 1992px #b3b3b3, 855px 1260px #b3b3b3, 902px 1345px #b3b3b3, 658px 1908px #b3b3b3,
    1845px 679px #b3b3b3, 712px 1482px #b3b3b3, 595px 950px #b3b3b3, 1784px 1992px #b3b3b3,
    1847px 1785px #b3b3b3, 691px 1004px #b3b3b3, 175px 1179px #b3b3b3, 1666px 1911px #b3b3b3,
    41px 61px #b3b3b3, 971px 1080px #b3b3b3, 1830px 1450px #b3b3b3, 1351px 1518px #b3b3b3,
    1257px 99px #b3b3b3, 1395px 1498px #b3b3b3, 1117px 252px #b3b3b3, 1779px 597px #b3b3b3,
    1346px 729px #b3b3b3, 1108px 1144px #b3b3b3, 402px 691px #b3b3b3, 72px 496px #b3b3b3,
    1673px 1604px #b3b3b3, 1497px 974px #b3b3b3, 1865px 1664px #b3b3b3, 88px 806px #b3b3b3,
    918px 77px #b3b3b3, 244px 1118px #b3b3b3, 256px 1820px #b3b3b3, 1851px 1840px #b3b3b3,
    605px 1851px #b3b3b3, 634px 383px #b3b3b3, 865px 37px #b3b3b3, 943px 1024px #b3b3b3,
    1951px 177px #b3b3b3, 1097px 523px #b3b3b3, 985px 1700px #b3b3b3, 1243px 122px #b3b3b3,
    768px 1070px #b3b3b3, 468px 194px #b3b3b3, 320px 1867px #b3b3b3, 1850px 185px #b3b3b3,
    380px 1616px #b3b3b3, 468px 1294px #b3b3b3, 1122px 1743px #b3b3b3, 884px 299px #b3b3b3,
    1300px 1917px #b3b3b3, 1860px 396px #b3b3b3, 1270px 990px #b3b3b3, 529px 733px #b3b3b3,
    1975px 1347px #b3b3b3, 1885px 685px #b3b3b3, 226px 506px #b3b3b3, 651px 878px #b3b3b3,
    1323px 680px #b3b3b3, 1284px 680px #b3b3b3, 238px 1967px #b3b3b3, 911px 174px #b3b3b3,
    1111px 521px #b3b3b3, 1150px 85px #b3b3b3, 794px 502px #b3b3b3, 484px 1856px #b3b3b3,
    1809px 368px #b3b3b3, 112px 953px #b3b3b3, 590px 1009px #b3b3b3, 1655px 311px #b3b3b3,
    100px 1026px #b3b3b3, 1803px 352px #b3b3b3, 865px 306px #b3b3b3, 1077px 1019px #b3b3b3,
    1335px 872px #b3b3b3, 1647px 1298px #b3b3b3, 1233px 1387px #b3b3b3, 698px 1036px #b3b3b3,
    659px 1860px #b3b3b3, 388px 1412px #b3b3b3, 1212px 458px #b3b3b3, 755px 1468px #b3b3b3,
    696px 1654px #b3b3b3, 1144px 60px #b3b3b3;
}

.stars2{
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
    box-shadow: 1448px 320px #b3b3b3, 1775px 1663px #b3b3b3, 332px 1364px #b3b3b3,
    878px 340px #b3b3b3, 569px 1832px #b3b3b3, 1422px 1684px #b3b3b3, 1946px 1907px #b3b3b3,
    121px 979px #b3b3b3, 1044px 1069px #b3b3b3, 463px 381px #b3b3b3, 423px 112px #b3b3b3,
    523px 1179px #b3b3b3, 779px 654px #b3b3b3, 1398px 694px #b3b3b3, 1085px 1464px #b3b3b3,
    1599px 1869px #b3b3b3, 801px 1882px #b3b3b3, 779px 1231px #b3b3b3, 552px 932px #b3b3b3,
    1057px 1196px #b3b3b3, 282px 1280px #b3b3b3, 496px 1986px #b3b3b3, 1833px 1120px #b3b3b3,
    1802px 1293px #b3b3b3, 6px 1696px #b3b3b3, 412px 1902px #b3b3b3, 605px 438px #b3b3b3,
    24px 1212px #b3b3b3, 234px 1320px #b3b3b3, 544px 344px #b3b3b3, 1107px 170px #b3b3b3,
    1603px 196px #b3b3b3, 905px 648px #b3b3b3, 68px 1458px #b3b3b3, 649px 1969px #b3b3b3,
    744px 675px #b3b3b3, 1127px 478px #b3b3b3, 714px 1814px #b3b3b3, 1486px 526px #b3b3b3,
    270px 1636px #b3b3b3, 1931px 149px #b3b3b3, 1807px 378px #b3b3b3, 8px 390px #b3b3b3,
    1415px 699px #b3b3b3, 1473px 1211px #b3b3b3, 1590px 141px #b3b3b3, 270px 1705px #b3b3b3,
    69px 1423px #b3b3b3, 1108px 1053px #b3b3b3, 1946px 128px #b3b3b3, 371px 371px #b3b3b3,
    1490px 220px #b3b3b3, 357px 1885px #b3b3b3, 363px 363px #b3b3b3, 1896px 1256px #b3b3b3,
    1979px 1050px #b3b3b3, 947px 1342px #b3b3b3, 1754px 242px #b3b3b3, 514px 974px #b3b3b3,
    65px 1477px #b3b3b3, 1840px 547px #b3b3b3, 950px 695px #b3b3b3, 459px 1150px #b3b3b3,
    1124px 1502px #b3b3b3, 481px 940px #b3b3b3, 680px 839px #b3b3b3, 797px 1169px #b3b3b3,
    1977px 1491px #b3b3b3, 734px 1724px #b3b3b3, 210px 298px #b3b3b3, 816px 628px #b3b3b3,
    686px 770px #b3b3b3, 1721px 267px #b3b3b3, 1663px 511px #b3b3b3, 1481px 1141px #b3b3b3,
    582px 248px #b3b3b3, 1308px 953px #b3b3b3, 628px 657px #b3b3b3, 897px 1535px #b3b3b3,
    270px 931px #b3b3b3, 791px 467px #b3b3b3, 1336px 1732px #b3b3b3, 1013px 1653px #b3b3b3,
    1911px 956px #b3b3b3, 587px 816px #b3b3b3, 83px 456px #b3b3b3, 930px 1478px #b3b3b3,
    1587px 1694px #b3b3b3, 614px 1200px #b3b3b3, 302px 1782px #b3b3b3, 1711px 1432px #b3b3b3,
    443px 904px #b3b3b3, 1666px 714px #b3b3b3, 1588px 1167px #b3b3b3, 273px 1075px #b3b3b3,
    1679px 461px #b3b3b3, 721px 664px #b3b3b3, 1202px 10px #b3b3b3, 166px 1126px #b3b3b3,
    331px 1628px #b3b3b3, 430px 1565px #b3b3b3, 1585px 509px #b3b3b3, 640px 38px #b3b3b3,
    822px 837px #b3b3b3, 1760px 1664px #b3b3b3, 1122px 1458px #b3b3b3, 398px 131px #b3b3b3,
    689px 285px #b3b3b3, 460px 652px #b3b3b3, 1627px 365px #b3b3b3, 348px 1648px #b3b3b3,
    819px 1946px #b3b3b3, 981px 1917px #b3b3b3, 323px 76px #b3b3b3, 979px 684px #b3b3b3,
    887px 536px #b3b3b3, 1348px 1596px #b3b3b3, 1055px 666px #b3b3b3, 1402px 1797px #b3b3b3,
    1300px 1055px #b3b3b3, 937px 238px #b3b3b3, 1474px 1815px #b3b3b3, 1144px 1710px #b3b3b3,
    1629px 1087px #b3b3b3, 911px 919px #b3b3b3, 771px 819px #b3b3b3, 403px 720px #b3b3b3,
    163px 736px #b3b3b3, 1062px 238px #b3b3b3, 1774px 818px #b3b3b3, 1874px 1178px #b3b3b3,
    1177px 699px #b3b3b3, 1244px 1244px #b3b3b3, 1371px 58px #b3b3b3, 564px 1515px #b3b3b3,
    1824px 487px #b3b3b3, 929px 702px #b3b3b3, 394px 1348px #b3b3b3, 1161px 641px #b3b3b3,
    219px 1841px #b3b3b3, 358px 941px #b3b3b3, 140px 1759px #b3b3b3, 1019px 1345px #b3b3b3,
    274px 436px #b3b3b3, 1433px 1605px #b3b3b3, 1798px 1426px #b3b3b3, 294px 1848px #b3b3b3,
    1681px 1877px #b3b3b3, 1344px 1824px #b3b3b3, 1439px 1632px #b3b3b3,
    161px 1012px #b3b3b3, 1308px 588px #b3b3b3, 1789px 582px #b3b3b3, 721px 1910px #b3b3b3,
    318px 218px #b3b3b3, 607px 319px #b3b3b3, 495px 535px #b3b3b3, 1552px 1575px #b3b3b3,
    1562px 67px #b3b3b3, 403px 926px #b3b3b3, 1096px 1800px #b3b3b3, 1814px 1709px #b3b3b3,
    1882px 1831px #b3b3b3, 533px 46px #b3b3b3, 823px 969px #b3b3b3, 530px 165px #b3b3b3,
    1030px 352px #b3b3b3, 1681px 313px #b3b3b3, 338px 115px #b3b3b3, 1607px 211px #b3b3b3,
    1718px 1184px #b3b3b3, 1589px 659px #b3b3b3, 278px 355px #b3b3b3, 464px 1464px #b3b3b3,
    1165px 277px #b3b3b3, 950px 694px #b3b3b3, 1746px 293px #b3b3b3, 793px 911px #b3b3b3,
    528px 773px #b3b3b3, 1883px 1694px #b3b3b3, 748px 182px #b3b3b3, 1924px 1531px #b3b3b3,
    100px 636px #b3b3b3, 1473px 1445px #b3b3b3, 1264px 1244px #b3b3b3, 850px 1377px #b3b3b3,
    987px 1976px #b3b3b3, 933px 1761px #b3b3b3, 922px 1270px #b3b3b3, 500px 396px #b3b3b3,
    1324px 8px #b3b3b3, 1967px 1814px #b3b3b3, 1072px 1401px #b3b3b3, 961px 37px #b3b3b3,
    156px 81px #b3b3b3, 1915px 502px #b3b3b3, 1076px 1846px #b3b3b3, 152px 1669px #b3b3b3,
    986px 1529px #b3b3b3, 1667px 1137px #b3b3b3;
}

.stars2::after{
    content: "";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1448px 320px #b3b3b3, 1775px 1663px #b3b3b3, 332px 1364px #b3b3b3,
    878px 340px #b3b3b3, 569px 1832px #b3b3b3, 1422px 1684px #b3b3b3, 1946px 1907px #b3b3b3,
    121px 979px #b3b3b3, 1044px 1069px #b3b3b3, 463px 381px #b3b3b3, 423px 112px #b3b3b3,
    523px 1179px #b3b3b3, 779px 654px #b3b3b3, 1398px 694px #b3b3b3, 1085px 1464px #b3b3b3,
    1599px 1869px #b3b3b3, 801px 1882px #b3b3b3, 779px 1231px #b3b3b3, 552px 932px #b3b3b3,
    1057px 1196px #b3b3b3, 282px 1280px #b3b3b3, 496px 1986px #b3b3b3, 1833px 1120px #b3b3b3,
    1802px 1293px #b3b3b3, 6px 1696px #b3b3b3, 412px 1902px #b3b3b3, 605px 438px #b3b3b3,
    24px 1212px #b3b3b3, 234px 1320px #b3b3b3, 544px 344px #b3b3b3, 1107px 170px #b3b3b3,
    1603px 196px #b3b3b3, 905px 648px #b3b3b3, 68px 1458px #b3b3b3, 649px 1969px #b3b3b3,
    744px 675px #b3b3b3, 1127px 478px #b3b3b3, 714px 1814px #b3b3b3, 1486px 526px #b3b3b3,
    270px 1636px #b3b3b3, 1931px 149px #b3b3b3, 1807px 378px #b3b3b3, 8px 390px #b3b3b3,
    1415px 699px #b3b3b3, 1473px 1211px #b3b3b3, 1590px 141px #b3b3b3, 270px 1705px #b3b3b3,
    69px 1423px #b3b3b3, 1108px 1053px #b3b3b3, 1946px 128px #b3b3b3, 371px 371px #b3b3b3,
    1490px 220px #b3b3b3, 357px 1885px #b3b3b3, 363px 363px #b3b3b3, 1896px 1256px #b3b3b3,
    1979px 1050px #b3b3b3, 947px 1342px #b3b3b3, 1754px 242px #b3b3b3, 514px 974px #b3b3b3,
    65px 1477px #b3b3b3, 1840px 547px #b3b3b3, 950px 695px #b3b3b3, 459px 1150px #b3b3b3,
    1124px 1502px #b3b3b3, 481px 940px #b3b3b3, 680px 839px #b3b3b3, 797px 1169px #b3b3b3,
    1977px 1491px #b3b3b3, 734px 1724px #b3b3b3, 210px 298px #b3b3b3, 816px 628px #b3b3b3,
    686px 770px #b3b3b3, 1721px 267px #b3b3b3, 1663px 511px #b3b3b3, 1481px 1141px #b3b3b3,
    582px 248px #b3b3b3, 1308px 953px #b3b3b3, 628px 657px #b3b3b3, 897px 1535px #b3b3b3,
    270px 931px #b3b3b3, 791px 467px #b3b3b3, 1336px 1732px #b3b3b3, 1013px 1653px #b3b3b3,
    1911px 956px #b3b3b3, 587px 816px #b3b3b3, 83px 456px #b3b3b3, 930px 1478px #b3b3b3,
    1587px 1694px #b3b3b3, 614px 1200px #b3b3b3, 302px 1782px #b3b3b3, 1711px 1432px #b3b3b3,
    443px 904px #b3b3b3, 1666px 714px #b3b3b3, 1588px 1167px #b3b3b3, 273px 1075px #b3b3b3,
    1679px 461px #b3b3b3, 721px 664px #b3b3b3, 1202px 10px #b3b3b3, 166px 1126px #b3b3b3,
    331px 1628px #b3b3b3, 430px 1565px #b3b3b3, 1585px 509px #b3b3b3, 640px 38px #b3b3b3,
    822px 837px #b3b3b3, 1760px 1664px #b3b3b3, 1122px 1458px #b3b3b3, 398px 131px #b3b3b3,
    689px 285px #b3b3b3, 460px 652px #b3b3b3, 1627px 365px #b3b3b3, 348px 1648px #b3b3b3,
    819px 1946px #b3b3b3, 981px 1917px #b3b3b3, 323px 76px #b3b3b3, 979px 684px #b3b3b3,
    887px 536px #b3b3b3, 1348px 1596px #b3b3b3, 1055px 666px #b3b3b3, 1402px 1797px #b3b3b3,
    1300px 1055px #b3b3b3, 937px 238px #b3b3b3, 1474px 1815px #b3b3b3, 1144px 1710px #b3b3b3,
    1629px 1087px #b3b3b3, 911px 919px #b3b3b3, 771px 819px #b3b3b3, 403px 720px #b3b3b3,
    163px 736px #b3b3b3, 1062px 238px #b3b3b3, 1774px 818px #b3b3b3, 1874px 1178px #b3b3b3,
    1177px 699px #b3b3b3, 1244px 1244px #b3b3b3, 1371px 58px #b3b3b3, 564px 1515px #b3b3b3,
    1824px 487px #b3b3b3, 929px 702px #b3b3b3, 394px 1348px #b3b3b3, 1161px 641px #b3b3b3,
    219px 1841px #b3b3b3, 358px 941px #b3b3b3, 140px 1759px #b3b3b3, 1019px 1345px #b3b3b3,
    274px 436px #b3b3b3, 1433px 1605px #b3b3b3, 1798px 1426px #b3b3b3, 294px 1848px #b3b3b3,
    1681px 1877px #b3b3b3, 1344px 1824px #b3b3b3, 1439px 1632px #b3b3b3,
    161px 1012px #b3b3b3, 1308px 588px #b3b3b3, 1789px 582px #b3b3b3, 721px 1910px #b3b3b3,
    318px 218px #b3b3b3, 607px 319px #b3b3b3, 495px 535px #b3b3b3, 1552px 1575px #b3b3b3,
    1562px 67px #b3b3b3, 403px 926px #b3b3b3, 1096px 1800px #b3b3b3, 1814px 1709px #b3b3b3,
    1882px 1831px #b3b3b3, 533px 46px #b3b3b3, 823px 969px #b3b3b3, 530px 165px #b3b3b3,
    1030px 352px #b3b3b3, 1681px 313px #b3b3b3, 338px 115px #b3b3b3, 1607px 211px #b3b3b3,
    1718px 1184px #b3b3b3, 1589px 659px #b3b3b3, 278px 355px #b3b3b3, 464px 1464px #b3b3b3,
    1165px 277px #b3b3b3, 950px 694px #b3b3b3, 1746px 293px #b3b3b3, 793px 911px #b3b3b3,
    528px 773px #b3b3b3, 1883px 1694px #b3b3b3, 748px 182px #b3b3b3, 1924px 1531px #b3b3b3,
    100px 636px #b3b3b3, 1473px 1445px #b3b3b3, 1264px 1244px #b3b3b3, 850px 1377px #b3b3b3,
    987px 1976px #b3b3b3, 933px 1761px #b3b3b3, 922px 1270px #b3b3b3, 500px 396px #b3b3b3,
    1324px 8px #b3b3b3, 1967px 1814px #b3b3b3, 1072px 1401px #b3b3b3, 961px 37px #b3b3b3,
    156px 81px #b3b3b3, 1915px 502px #b3b3b3, 1076px 1846px #b3b3b3, 152px 1669px #b3b3b3,
    986px 1529px #b3b3b3, 1667px 1137px #b3b3b3;
}

.stars3{
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 150s linear infinite;
    box-shadow: 387px 1878px #b3b3b3, 760px 1564px #b3b3b3, 1487px 999px #b3b3b3,
    948px 1828px #b3b3b3, 1977px 1001px #b3b3b3, 1284px 1963px #b3b3b3, 656px 284px #b3b3b3,
    1268px 1635px #b3b3b3, 1820px 598px #b3b3b3, 642px 1900px #b3b3b3, 296px 57px #b3b3b3,
    921px 1620px #b3b3b3, 476px 1858px #b3b3b3, 658px 613px #b3b3b3, 1171px 1363px #b3b3b3,
    1419px 283px #b3b3b3, 1037px 731px #b3b3b3, 503px 663px #b3b3b3, 1562px 463px #b3b3b3,
    383px 1197px #b3b3b3, 1171px 1233px #b3b3b3, 876px 1768px #b3b3b3, 856px 1615px #b3b3b3,
    1375px 1924px #b3b3b3, 1725px 918px #b3b3b3, 952px 119px #b3b3b3, 768px 1212px #b3b3b3,
    992px 1462px #b3b3b3, 1929px 717px #b3b3b3, 1947px 755px #b3b3b3, 1818px 1123px #b3b3b3,
    1896px 1672px #b3b3b3, 460px 198px #b3b3b3, 256px 271px #b3b3b3, 752px 544px #b3b3b3,
    1222px 1859px #b3b3b3, 1851px 443px #b3b3b3, 313px 1858px #b3b3b3, 709px 446px #b3b3b3,
    1546px 697px #b3b3b3, 674px 1155px #b3b3b3, 1112px 130px #b3b3b3, 355px 1790px #b3b3b3,
    1496px 974px #b3b3b3, 1696px 480px #b3b3b3, 1316px 1265px #b3b3b3, 1645px 1063px #b3b3b3,
    1182px 237px #b3b3b3, 427px 1582px #b3b3b3, 859px 253px #b3b3b3, 458px 939px #b3b3b3,
    1517px 1644px #b3b3b3, 1943px 60px #b3b3b3, 212px 1650px #b3b3b3, 966px 1786px #b3b3b3,
    473px 712px #b3b3b3, 130px 76px #b3b3b3, 1417px 1186px #b3b3b3, 909px 1580px #b3b3b3,
    1913px 762px #b3b3b3, 204px 1143px #b3b3b3, 1998px 1057px #b3b3b3, 1468px 1301px #b3b3b3,
    144px 1676px #b3b3b3, 21px 1601px #b3b3b3, 382px 1362px #b3b3b3, 912px 753px #b3b3b3,
    1488px 1405px #b3b3b3, 802px 156px #b3b3b3, 174px 550px #b3b3b3, 338px 1366px #b3b3b3,
    1197px 774px #b3b3b3, 602px 486px #b3b3b3, 682px 1877px #b3b3b3, 348px 1503px #b3b3b3,
    407px 1139px #b3b3b3, 950px 1400px #b3b3b3, 922px 1139px #b3b3b3, 1697px 293px #b3b3b3,
    1238px 1281px #b3b3b3, 1038px 1197px #b3b3b3, 376px 1889px #b3b3b3,
    1255px 1680px #b3b3b3, 1008px 1316px #b3b3b3, 1538px 1447px #b3b3b3,
    1186px 874px #b3b3b3, 1967px 640px #b3b3b3, 1341px 19px #b3b3b3, 29px 1732px #b3b3b3,
    16px 1650px #b3b3b3, 1021px 1075px #b3b3b3, 723px 424px #b3b3b3, 1175px 41px #b3b3b3,
    494px 1957px #b3b3b3, 1296px 431px #b3b3b3, 175px 1507px #b3b3b3, 831px 121px #b3b3b3,
    498px 1947px #b3b3b3, 617px 880px #b3b3b3, 240px 403px #b3b3b3;
}

.stars3::after{
    content: "";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 387px 1878px #b3b3b3, 760px 1564px #b3b3b3, 1487px 999px #b3b3b3,
    948px 1828px #b3b3b3, 1977px 1001px #b3b3b3, 1284px 1963px #b3b3b3, 656px 284px #b3b3b3,
    1268px 1635px #b3b3b3, 1820px 598px #b3b3b3, 642px 1900px #b3b3b3, 296px 57px #b3b3b3,
    921px 1620px #b3b3b3, 476px 1858px #b3b3b3, 658px 613px #b3b3b3, 1171px 1363px #b3b3b3,
    1419px 283px #b3b3b3, 1037px 731px #b3b3b3, 503px 663px #b3b3b3, 1562px 463px #b3b3b3,
    383px 1197px #b3b3b3, 1171px 1233px #b3b3b3, 876px 1768px #b3b3b3, 856px 1615px #b3b3b3,
    1375px 1924px #b3b3b3, 1725px 918px #b3b3b3, 952px 119px #b3b3b3, 768px 1212px #b3b3b3,
    992px 1462px #b3b3b3, 1929px 717px #b3b3b3, 1947px 755px #b3b3b3, 1818px 1123px #b3b3b3,
    1896px 1672px #b3b3b3, 460px 198px #b3b3b3, 256px 271px #b3b3b3, 752px 544px #b3b3b3,
    1222px 1859px #b3b3b3, 1851px 443px #b3b3b3, 313px 1858px #b3b3b3, 709px 446px #b3b3b3,
    1546px 697px #b3b3b3, 674px 1155px #b3b3b3, 1112px 130px #b3b3b3, 355px 1790px #b3b3b3,
    1496px 974px #b3b3b3, 1696px 480px #b3b3b3, 1316px 1265px #b3b3b3, 1645px 1063px #b3b3b3,
    1182px 237px #b3b3b3, 427px 1582px #b3b3b3, 859px 253px #b3b3b3, 458px 939px #b3b3b3,
    1517px 1644px #b3b3b3, 1943px 60px #b3b3b3, 212px 1650px #b3b3b3, 966px 1786px #b3b3b3,
    473px 712px #b3b3b3, 130px 76px #b3b3b3, 1417px 1186px #b3b3b3, 909px 1580px #b3b3b3,
    1913px 762px #b3b3b3, 204px 1143px #b3b3b3, 1998px 1057px #b3b3b3, 1468px 1301px #b3b3b3,
    144px 1676px #b3b3b3, 21px 1601px #b3b3b3, 382px 1362px #b3b3b3, 912px 753px #b3b3b3,
    1488px 1405px #b3b3b3, 802px 156px #b3b3b3, 174px 550px #b3b3b3, 338px 1366px #b3b3b3,
    1197px 774px #b3b3b3, 602px 486px #b3b3b3, 682px 1877px #b3b3b3, 348px 1503px #b3b3b3,
    407px 1139px #b3b3b3, 950px 1400px #b3b3b3, 922px 1139px #b3b3b3, 1697px 293px #b3b3b3,
    1238px 1281px #b3b3b3, 1038px 1197px #b3b3b3, 376px 1889px #b3b3b3,
    1255px 1680px #b3b3b3, 1008px 1316px #b3b3b3, 1538px 1447px #b3b3b3,
    1186px 874px #b3b3b3, 1967px 640px #b3b3b3, 1341px 19px #b3b3b3, 29px 1732px #b3b3b3,
    16px 1650px #b3b3b3, 1021px 1075px #b3b3b3, 723px 424px #b3b3b3, 1175px 41px #b3b3b3,
    494px 1957px #b3b3b3, 1296px 431px #b3b3b3, 175px 1507px #b3b3b3, 831px 121px #b3b3b3,
    498px 1947px #b3b3b3, 617px 880px #b3b3b3, 240px 403px #b3b3b3;
}

@keyframes animStar {
    from{
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }   
}