*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "poppins", sans-serif;
}

.hero{
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

main{
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    position: sticky;
}

.menu{
    background-color: #1b2735;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-radius: 40px;
}

.menu img{
    width: 80px;
}

.body-main{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.body-main h1{
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 10px;
}

.body-main h1{
    background: -webkit-linear-gradient( #fff, #38495a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.body-main img{
    width: 30%;
}

.list{
    text-align: center;
    color: #fff;
    padding: 50px 0px;
    width: 80%;
    line-height: 1.4rem;
}

.links{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    justify-content: center;
}

.logo{
    border: none;
}

a{
    color: #fff;
    transition: all 0.3s ease;
    border: 1px solid #fff;
    padding: 7px 20px;
    text-align: center;
    border-radius: 15px;
}

a:hover{
    color: #b3b3b3;
    background-color: #38495a;
}

footer{
    position: absolute;
    bottom: 0px;
    background-color: #38495a;
    height: 30px;
    border-radius: 10px 10px 0 0;
    padding: 7px 10px 0 10px;
    color: #fff;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
}

.container-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cards{
    display: flex;
    justify-content: center;
    width: 100%;
}

.card{
    background-color: #27333f;
    width: 300px;
    border-radius: 10px;
    padding: 10px 10px;
}

.pagination{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

.page{
    color: #fff;
}

button{
    color: #fff;
    transition: all 0.3s ease;
    border: 1px solid #fff;
    padding: 7px 20px;
    text-align: center;
    border-radius: 15px;
    background-color: transparent;
}
button:hover{
    color: #b3b3b3;
    background-color: #38495a;
}

.count{
    font-size: 0.7rem;
    color: #b4b4b4;
}

.card-body{
    font-size: 0.9rem;
    color: #e2e2e2;
}

.card-body span{
    font-weight: bold;
}

body{
    background: #131c25;
}

.links-header a{
    font-size: 0.8rem;
    border: none;
    text-wrap: nowrap;
}

.links-header{
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}